.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #5ebeba;
  border-radius: 4px;
  background: #5ebeba;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #a1c9c7;
  border-color: #a1c9c7;
}

.button--inverse {
  background: transparent;
  color: #5ebeba;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #5ebeba;
}

.button--danger {
  background: #236d69;
  border-color: #236d69;
}

.button--danger:hover,
.button--danger:active {
  background: #468682;
  border-color: #468682;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
